{% extends "base.html" %}
{% block content %}
{% load static %}
    <title>Image</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <div class="intro">
        <h1 class="title">GALLERY</h1>
        <form method="post" enctype="multipart/form-data" id="img_upload">
            {% csrf_token %}
            <div class="upload">
                <label id="label">Upload Image</label>
            <input id="file" type="file" name="img" accept="image/*" required/>
            
            </div>
            <button id="btn">Upload</button>
        </form>
    </div>
    
    <div class="img_div">
        {% for img in img_lst %}
        <a href="/{{img}}">
            <img class="gallery_img" src="https://imageapp123.s3.amazonaws.com/{{img}}" />
        </a>
        {% endfor %}
    </div>

    {% endblock %}